{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1> Bienvenue dans le Garage V.Parot, ici toute voiture est bonne à rouler .</h1>
{% endblock %}
