{% extends 'base.html.twig' %}



{% block title %}Carrosserie index{% endblock %}

{% block body_class %}services{% endblock %}

{% block body %}
<h1> Nos services </h1>

<link rel="stylesheet" href="{{ asset('css/styles.css') }}">

{{ include ('homecolumn.twig')}}

{% endblock %}
