{% extends 'base.html.twig' %}

{% block title %}Carrosserie{% endblock %}

{% block body %}
    <h1>Carrosserie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ carrosserie.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_carrosserie_index') }}">back to list</a>

    <a href="{{ path('app_carrosserie_edit', {'id': carrosserie.id}) }}">edit</a>

    {{ include('carrosserie/_delete_form.html.twig') }}
{% endblock %}
