{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body_class %}Categorie{% endblock %}
{% block body %}
     <div class="js-filter-form"> </div>
    <h1> Tous nos modèles</h1>
  <br>
     <h4>Modèle</h4>

     {% for category in categories %}    
        
            <div>
            {{ category.name }}
                <div>
                <a href="{{ path('app_category_show', {'id': category.id}) }}"> Consulter la page </a>
                </div>
        </div>  
        </div>
        {% else %}
            <tr>
                <td colspan="3">Aucun modèle trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
