<link rel="stylesheet" href="{{ asset('css/styles.css') }}">

<div class="container">

  <div class="row">
 
    <div class="col-sm-4">
    <img style="width: 85%;" src="{{asset('media/Carrosserie.png')}}"> 
    </div>
    <div class="col-sm-4">
    <img style="width: 85%;" src="{{asset('media/mecanique.png')}}">
      
    </div>
    <div class="col-sm-4">
    <img style="width: 85%;" src="{{asset('media/Carrosserie.png')}}">
    </div>
  </div>
</div>
